#DOCKER VARS
ROOT_PWD=admin_password_palceholder
DB_NAME=db_name_placeholder
DB_USER=db_user_placeholder
DB_PWD=db_pwd_placeholder

#APP VARS
EVMODE=dev
# DEVMODE=prod
LOG_FILE=error.log

DB_HOST=palceholder
DB_PORT=3306
DB_CHARSET=utf8mb4

META_KEYWORDS="default project keywords"
META_DESC="Project App description"